<div>
	<table class="attributes-table">
		<thead>
			<tr>
				<th>API Attribute</th>
				<th>Network Connected</th>
				<th>Able to be used</th>
			</tr>
		</thead>
		<tbody>
			{% for mainkey, attributes in content.final %}
				{% for key, att in attributes %}
					<tr>
						<td>{{ att.title }}</td>
						<td>
							{{ att.integrated_carrier_network }}
						</td>
						<td>
							{{ att.to_be_used }}
						</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
</div>
