web/sites/**/files/
web/sites/**/files/*
web/libraries/
web/modules/contrib/
web/modules/local/
web/core/
web/themes/contrib/
vendor/
**/*.code-workspace
**/*.DS_Store
.ddev/config.yaml
/.editorconfig
/.gitattributes

#server/runtime files
/metabase/
/private-files/
/web/sites/default/settings.php
/web/var/
/web/version.json