.attributes-table {
  width: 100%;
}
.network_authentication_pricing_over_time
  #block-shush-primary-admin-actions
  nav
  li
  a {
  background: #fff;
  border: 2px solid #118df0;
  color: #118df0;
  border-radius: 50px;
  padding: 10px 15px;
}

.network_authentication_pricing_over_time
  #block-shush-primary-admin-actions
  nav
  li
  a:hover {
  background: #fff;
  color: #118df0;
}
.network_authentication_pricing_over_time
  #block-shush-primary-admin-actions
  nav
  li {
  text-align: right;
}
.attributes-table,
td {
  border: none;
  border-collapse: collapse;
}
/* table.attributes-table {
  table-layout: fixed;
} */
table.attributes-table tr td {
  border: none;
  padding: 0;
  /* text-align: center; */
}

.change-network-authentication-pricing table.attributes-table thead th,
.demand_partner_discounts_or_different_pricing table.attributes-table thead th {
  text-align: center;
}
.network_authentication_pricing_over_time table.attributes-table thead th {
  line-height: 20px;
  text-align: center;
}
.network_authentication_pricing_over_time
  table.attributes-table
  thead
  th:first-child {
  text-align: left;
}
.network_authentication_pricing_over_time
  table.attributes-table
  thead
  th:nth-child(2) {
  width: 30%;
  text-align: left;
}
.network_authentication_pricing_over_time
  table.attributes-table
  tbody
  td:nth-child(2) {
  text-align: left;
}
table.attributes-table {
  table-layout: fixed;
}
table.attributes-table th:first-child {
  width: 5%;
}
table.attributes-table th:nth-child(2),
table.attributes-table th:last-child,
.change-network-authentication-pricing table.attributes-table th:nth-child(2),
.demand_partner_discounts_or_different_pricing
  table.attributes-table
  th:nth-child(2) {
  text-align: left;
}
table.attributes-table th:nth-child(3),
table.attributes-table th:nth-child(4) {
  text-align: center;
}
.change-network-authentication-pricing table.attributes-table tr td,
.demand_partner_discounts_or_different_pricing table.attributes-table tr td {
  padding: 10px;
  text-align: center;
}

.network_authentication_pricing_over_time
  table.attributes-table
  tr
  td:nth-child(1) {
  text-align: left;
  font-weight: 700;
  width: 1%;
}
.network_authentication_pricing_over_time table.attributes-table tr td {
  text-align: center;
  padding: 10px 20px;
}

table.attributes-table tr td:first-child {
  width: 16%;
}

.change-network-authentication-pricing table tbody tr td:nth-child(2),
.network_authentication_pricing_over_time table tbody tr td:nth-child(2),
.demand_partner_discounts_or_different_pricing table tbody tr td:nth-child(2) {
  width: 22%;
}
.change-network-authentication-pricing table tbody tr td:nth-child(2),
.demand_partner_discounts_or_different_pricing table tbody tr td:nth-child(2),
.network_authentication_pricing_over_time table tbody tr td:nth-child(2) {
  font-weight: 400;
}

.api-attribute-status table tbody tr td:first-child,
.change-network-authentication-pricing table tbody tr td:first-child,
.demand_partner_discounts_or_different_pricing table tbody tr td:first-child {
  font-weight: 400 !important;
  padding: 10px 20px;
  text-align: left;
}

.api-attribute-status table tbody tr td[rowspan="6"],
.api-attribute-status table tbody tr td[rowspan="3"],
.api-attribute-status table tbody tr td[rowspan="2"],
.api-attribute-status table tbody tr td[rowspan="9"],
.api-attribute-status table tbody tr td[rowspan="4"],
.api-attribute-status table tbody tr td[rowspan="1"],
.api-attribute-status table tbody tr td[rowspan="5"],
.change-network-authentication-pricing table tbody tr td[rowspan="6"],
.change-network-authentication-pricing table tbody tr td[rowspan="3"],
.change-network-authentication-pricing table tbody tr td[rowspan="2"],
.change-network-authentication-pricing table tbody tr td[rowspan="9"],
.change-network-authentication-pricing table tbody tr td[rowspan="4"],
.change-network-authentication-pricing table tbody tr td[rowspan="1"],
.change-network-authentication-pricing table tbody tr td[rowspan="5"],
.network_authentication_pricing_over_time table tbody tr td[rowspan="6"],
.network_authentication_pricing_over_time table tbody tr td[rowspan="3"],
.network_authentication_pricing_over_time table tbody tr td[rowspan="2"],
.network_authentication_pricing_over_time table tbody tr td[rowspan="9"],
.network_authentication_pricing_over_time table tbody tr td[rowspan="4"],
.network_authentication_pricing_over_time table tbody tr td[rowspan="1"],
.network_authentication_pricing_over_time table tbody tr td[rowspan="5"],
.demand_partner_discounts_or_different_pricing table tbody tr td[rowspan="6"],
.demand_partner_discounts_or_different_pricing table tbody tr td[rowspan="3"],
.demand_partner_discounts_or_different_pricing table tbody tr td[rowspan="2"],
.demand_partner_discounts_or_different_pricing table tbody tr td[rowspan="9"],
.demand_partner_discounts_or_different_pricing table tbody tr td[rowspan="4"],
.demand_partner_discounts_or_different_pricing table tbody tr td[rowspan="1"],
.demand_partner_discounts_or_different_pricing table tbody tr td[rowspan="5"] {
  font-weight: 700 !important;
  padding: 10px;
  text-align: center;
}
.api-attribute-status table thead tr td,
.change-network-authentication-pricing table thead tr td,
.network_authentication_pricing_over_time table thead tr td,
.demand_partner_discounts_or_different_pricing table thead tr td {
  font-weight: 700 !important;
  padding: 10px;
  text-align: center;
  line-break: 18px;
}
.api-attribute-status table tr td .attrib_no,
.api-attribute-status table tr td .attrib_yes {
  position: relative;
  display: block;
  z-index: 10;
  color: #000;
  height: 100%;
  width: 100%;
  padding: 10px 60px;
  text-align: left;
  max-width: 60px;
  margin: 0 auto;
}
.api-attribute-status table tr td .attrib_no::before,
.api-attribute-status table tr td .attrib_yes::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("/themes/custom/shush/images/error-bg.svg") no-repeat;
  background-position: left 33px center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.api-attribute-status table tr td .attrib_yes::before {
  background: url("/themes/custom/shush/images/active-bg.svg") no-repeat;
  background-position: left 33px center;
}
.api-attribute-status table tbody tr td:nth-child(2) {
  padding: 0 20px;
}

.api-attribute-status table tbody tr td:nth-child(3),
.api-attribute-status table tbody tr td:nth-child(4) {
  padding: 0;
}

.api-attribute-status table tbody tr td[rowspan="6"] + td,
.api-attribute-status table tbody tr td[rowspan="3"] + td,
.api-attribute-status table tbody tr td[rowspan="2"] + td,
.api-attribute-status table tbody tr td[rowspan="9"] + td,
.api-attribute-status table tbody tr td[rowspan="4"] + td,
.api-attribute-status table tbody tr td[rowspan="1"] + td,
.api-attribute-status table tbody tr td[rowspan="5"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="6"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="3"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="2"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="9"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="4"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="1"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="5"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="6"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="3"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="2"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="9"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="4"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="1"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="5"] + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="1"]
  + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="5"]
  + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="6"]
  + td,
.demand_partner_discounts_or_different_pricingtable
  tbody
  tr
  td[rowspan="3"]
  + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="2"]
  + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="9"]
  + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="4"]
  + td {
  padding: 10px;
  text-align: left;
}

.change-network-authentication-pricing table tbody tr td[rowspan="6"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="3"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="2"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="9"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="4"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="1"] + td,
.change-network-authentication-pricing table tbody tr td[rowspan="5"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="6"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="3"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="2"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="9"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="4"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="1"] + td,
.network_authentication_pricing_over_time table tbody tr td[rowspan="5"] + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="6"]
  + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="3"]
  + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="2"]
  + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="9"]
  + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="4"]
  + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="1"]
  + td,
.demand_partner_discounts_or_different_pricing
  table
  tbody
  tr
  td[rowspan="5"]
  + td {
  font-weight: 400;
  text-align: left;
}

.api-attribute-status table tbody tr td:nth-child(6),
.api-attribute-status table tbody tr td:nth-child(7) {
  padding: 10px;
}

.api-attribute-status table tbody tr td:last-child {
  text-align: center;
}

.top-banner {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  margin-bottom: 2.5rem;
  justify-content: center;
}
.banner {
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px #ccc;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background: #fff;
}
.top-banner .banner {
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  border: none;
  box-shadow: none;
  padding: 25px;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: auto;
}
.top-banner .banner .banner-title {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(163, 174, 208, 1);
  text-align: center;
  min-height: auto;
}

.top-banner .banner .report-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.top-banner .banner .banner-number,
.top-banner .banner .data-report-type {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(43, 54, 116, 1);
  margin: 0;
}
.top-banner .banner.banner-1,
.top-banner .banner.banner-2 {
  flex: 0 0 20%;
}
.top-banner .banner.banner-1 .report-wrap,
.top-banner .banner.banner-2 .report-wrap {
  display: block;
  width: 100%;
}
.top-banner .banner.banner-1 .banner-title,
.top-banner .banner.banner-2 .banner-title {
  text-align: center;
}
.top-banner .banner.banner-1 .report-wrap .banner-number,
.top-banner .banner.banner-2 .report-wrap .banner-number {
  text-align: center;
}
.top-banner .banner.banner-1 .data-report-type,
.top-banner .banner.banner-2 .data-report-type {
  font-size: 12px;
  width: 100%;
  text-align: center;
  line-height: 22px;
}

.api-attribute-status-header.user-management-view {
  background: transparent;
  margin-bottom: 16px;
}

.ui-dialog .api-attribute-sheet .form-submit {
  background: #118df0;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  letter-spacing: -0.2px;
  max-width: 200px;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.message {
  background-color: #eeb34c;
  border-radius: 5px;
  padding: 10px 50px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: normal;
  position: relative;
}

.api-attribute-status .ui-dialog .api-attribute-sheet .message::before {
  content: "";
  background: url("/themes/custom/shush/images/time.png") no-repeat;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -14px;
  background-size: cover;
}
