/* .pending {
  background-color: #f7cb73;
  padding: 5px;
  border-radius: 5px;
}
.approved {
  background-color: #babf5e;
  padding: 5px;
  border-radius: 5px;
}
.rejected {
  background-color: #c94d3b;
  padding: 5px;
  border-radius: 5px;
} */

#block-shush-content > .form-type-select {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#block-shush-content > .form-type-select .select-status {
  display: flex;
  min-width: 180px;
  width: auto;
  border-radius: 8px;
}
#block-shush-content > .form-type-select label {
  font-size: 14px;
  display: block;
  width: 180px;
  text-align: left;
}

table.rate-sheet-approval {
  margin-top: 1.5rem;
}
table.rate-sheet-approval tr th:last-child {
  text-align: left;
}
table.rate-sheet-approval tbody td span.approved,
table.rate-sheet-approval tbody td span.rejected {
  position: relative;
  font-size: 0;
}
table.rate-sheet-approval tbody td span.pending {
  position: relative;
}
table.rate-sheet-approval tbody td span.approved::before,
table.rate-sheet-approval tbody td span.rejected::before,
table.rate-sheet-approval tbody td span.pending::before {
  content: "";
  height: 12px;
  width: 12px;
  background: url("/themes/custom/shush/images/active-bg.svg") no-repeat;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  background-size: cover;
  margin-top: -11px;
}

table.rate-sheet-approval tbody td span.rejected::before {
  background: url("/themes/custom/shush/images/error-bg.svg") no-repeat;
  background-size: cover;
}
table.rate-sheet-approval tbody td span.pending::before {
  background: url("/themes/custom/shush/images/pending.svg") no-repeat;
  background-size: cover;
  background-size: cover;
  right: -17px;
  left: auto;
  width: 16px;
  height: 16px;
  margin-top: -6px;
}
table.rate-sheet-approval tbody td.approved {
  color: #06b487;
}

table.rate-sheet-approval tbody td.rejected {
  color: #cc1b0c;
}

table.rate-sheet-approval tbody td.pending {
  color: #fcc418;
}
table.rate-sheet-approval .btn-primary:hover {
  background: #4f9bf5;
}

.rate-sheet-approval .btn-primary {
  background: #fff;
  border: 2px solid #118df0;
  color: #118df0;
  border-radius: 50px;
  display: block;
  text-align: center;
}

.rate-sheet-approval .ajax-progress-throbber {
  display: none;
}
