.ui-dialog .rate-sheet-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ui-dialog .rate-sheet-filter .rate-sheet-filter-currencies,
.ui-dialog .rate-sheet-filter .rate-sheet-filter-effective {
  flex: 0 0 48%;
}

.ui-dialog table.attributes-table .form-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin: 0;
}
.ui-dialog table.attributes-table .form-item input.form-checkbox {
  height: 18px;
  margin: 0;
}

.ui-dialog table.attributes-table .form-item input {
  margin: 0;
  height: 28px;
}

.ui-dialog .field-prefix {
  margin-right: 10px;
}
.ui-dialog .attribute-review .js-form-item-status,
.ui-dialog .api-attribute-review .js-form-item-status {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.ui-dialog .attribute-review .js-form-item-status .form-select,
.ui-dialog .api-attribute-review .js-form-item-status .form-select {
  width: auto;
  min-width: 280px;
  margin-right: 20px;
}

.ui-dialog .attribute-review .form-submit,
.ui-dialog .api-attribute-review .form-submit {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 10px 60px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 18px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  background-color: #4f9bf5;
  color: #fff;
  border: none;
  margin-top: 1rem;
}

.rate-sheet-filter .attributes-label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #2b3674;
  line-height: normal;
  font-weight: 700;
}

.ui-dialog .api-attribute-review .attributes-table th:nth-child(2) {
  width: 50%;
}
.ui-dialog .api-attribute-review .attributes-table th:nth-child(3),
.ui-dialog .api-attribute-review .attributes-table th:nth-child(4) {
  text-align: center;
}
