.message {
  background-color: #eeb34c;
  border-radius: 5px;
  padding: 10px 50px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: normal;
  position: relative;
}

.rate-sheet-price .rate-sheet table.attributes-table .form-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin: 0;
}
.rate-sheet-price .rate-sheet table.attributes-table .form-item input {
  margin: 0;
}
.rate-sheet-price .rate-sheet table.attributes-table th,
.rate-sheet-price .rate-sheet table.attributes-table tr td {
  text-align: center;
}

.rate-sheet-price .rate-sheet table.attributes-table th:nth-child(2),
.rate-sheet-price .rate-sheet table.attributes-table tr td:nth-child(2) {
  text-align: left;
}
.rate-sheet-price .rate-sheet .field-prefix {
  margin-right: 10px;
}

/* .rate-sheet-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5rem;
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 1.5rem;
} */

.rate-sheet-filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* spacing between columns */
  align-items: start;
  padding: 10px;
}

.ui-dialog .rate-sheet-filter {
  margin: 0;
}

.rate-sheet-filter .rate-sheet-filter-currencies,
.rate-sheet-filter .rate-sheet-filter-effective {
  flex: 0 0 49%;
}

.rate-sheet-filter .attributes-label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #2b3674;
  line-height: normal;
  font-weight: 700;
}
.rate-sheet-price .rate-sheet .message {
  position: relative;
}
.rate-sheet-price .rate-sheet .message::before,
.network_authentication_pricing_over_time
  .ui-dialog
  .rate-sheet
  .message::before {
  content: "";
  background: url("/themes/custom/shush/images/time.png") no-repeat;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -14px;
  background-size: cover;
}

.rate-sheet-price .rate-sheet h2.attributes-label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #2b3674;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 1rem;
}

.rate-sheet-price .rate-sheet .attributes-table {
  margin-bottom: 2rem;
}

.rate-sheet-price .rate-sheet #edit-submit {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 10px 60px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 18px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  background: #fff;
  border: 2px solid #118df0;
  color: #118df0;
  border-radius: 50px;
}

.rate-sheet-price .rate-sheet input[disabled="disabled"]#edit-submit {
  background-color: rgba(118, 118, 118, 0.3);
  color: rgba(118, 118, 118, 0.3);
  border-color: rgba(118, 118, 118, 0.3);
}

.rate-sheet .form-submit.is-disabled {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
  min-width: fit-content;
  background-color: rgba(118, 118, 118, 0.3);
  border: 2px solid rgba(118, 118, 118, 0.3);
  color: rgba(118, 118, 118, 0.3);
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  margin: 20px auto;
}

.ui-dialog .rate-sheet .form-submit:not(.is-disabled) {
  background: #118df0;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  letter-spacing: -0.2px;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  width: 100%;
}
.ui-dialog .rate-sheet table th:first-child {
  width: 4%;
}

.ui-dialog .rate-sheet table.attributes-table thead th:nth-child(2) {
  text-align: left;
}

.ui-dialog .rate-sheet table.attributes-table thead th:nth-child(3),
.ui-dialog .rate-sheet table.attributes-table thead th:nth-child(4),
.ui-dialog .rate-sheet table.attributes-table thead th:nth-child(5),
.ui-dialog .rate-sheet table.attributes-table thead th:nth-child(6) {
  width: 12%;
  text-align: center;
}

.ui-dialog .rate-sheet h2.attributes-label {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.ui-dialog .rate-sheet table tbody td .form-type-number {
  position: relative;
  padding-left: 15px;
}

.ui-dialog .rate-sheet table tbody td .form-type-number .field-prefix {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}

.ui-dialog .rate-sheet table tbody td .form-type-number input {
  margin: 0;
}

.ui-dialog .rate-sheet table tbody td:nth-child(2) {
  text-align: left;
}



#date-validation-message .date-validation-message-error {
  font-size: 12px;
  color: red;
}
