@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$primary-color: #111532;
$link-color: rgba(15, 141, 240, 1);
$black: #000000;
$black-rgb: rgba(102, 102, 102, 1);
$white: #ffffff;
$light-blue: #eaf4ff;
$light-grey: #4f9bf5;
$light-grey-rgb: rgba(200, 231, 255, 1);
$light-grey-rgb2: rgba(102, 102, 102, 1);

$roboto: "Roboto", sans-serif;
$sans: "DM Sans", sans-serif;
$poppins: "Poppins", sans-serif;
$Montserrat: "Montserrat", sans-serif;
