:root {
  --mb-default-font-family: "Montserrat" !important;
  --default-font-family: "Montserrat" !important;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/themes/custom/shush/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/themes/custom/shush/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/themes/custom/shush/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
  background-color: transparent !important;
}

header {
  display: none !important;
}

#root>div,
#root>div>div {
  background-color: transparent !important;
}

#root>div>div>main>div>div {
  padding: 0px !important;
}

footer {
  display: none !important;
}

a {
  color: red !important;
}

.dashcard,
.decrease,
.increase,
.equals {
  border-radius: 24px !important;
}

.dashcard {
  background-color: #e0e5f2 !important;
  border: 1px solid #7f85ae !important;
  color: #2b3674;
}

div.dashcard>div>div>div {
  align-items: flex-start !important;
}

div.dashcard>div>div>div>div[data-testid="scalar-title"] {
  justify-content: flex-start !important;
}

.decrease h1,
.decrease h3,
.increase h1,
.increase h3,
.equals h1,
.equals h3 {
  font-weight: 400 !important;
  line-height: 2rem !important;
}

.decrease {
  background-color: #ffefef !important;
  border: 1px solid #ff8080 !important;
  color: #a80202;
}

.increase {
  background-color: #d0fff3 !important;
  border: 1px solid #7bbdab !important;
  color: #005d42;
}

.equals {
  background-color: #eeeeee !important;
  border: 1px solid #9c9c9c !important;
  color: #373838;
}

.increase>div>div>div,
.decrease>div>div>div,
.equals>div>div>div {
  flex-flow: row nowrap;
  justify-content: space-between;
}

.increase>div>div>div>div[data-testid="scalar-title"],
.decrease>div>div>div>div[data-testid="scalar-title"],
.equals>div>div>div>div[data-testid="scalar-title"] {
  display: block !important;
  max-height: 100% !important;
  text-overflow: inherit;
  width: auto !important;
}

div[data-testid="dashcard-container"].container-small,
div.DashCard.container-small {
  height: 80px !important;
}

div[data-testid="dashboard-parameters-widget-container"] {
  background-color: transparent !important;
}

.increase h1:before {
  content: "\25B2";
}

.decrease h1:before {
  content: "\25BC";
}

div[data-testid="fixed-width-filters"]>div {
  flex-wrap: nowrap;
  width: 100%;
}

div[data-testid="fixed-width-filters"]>div>fieldset {
  flex-basis: 16.6%;
}

div[data-testid="fixed-width-filters"]>div>fieldset a .text-nowrap {
  text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden;
}

div.LineAreaBarChart.CardVisualization>div:nth-child(2)>div:nth-child(1) {
  display: none !important;
}

div.LineAreaBarChart.CardVisualization>div:nth-child(2)>div:last-child {
  display: flex !important;
}

@media (max-width: 799px) {
  div.dashcard h1 {
    font-size: 4rem !important;
  }

  div.dashcard h1 span {
    font-size: 2.5rem !important;
  }

  div.dashcard h3 {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
  }

  .decrease h1,
  .increase h1,
  .equals h1 {
    font-size: 2.25rem !important;
    font-weight: 400 !important;
    line-height: 2.5rem !important;
  }

  .decrease h3,
  .increase h3,
  .equals h3 {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    line-height: 2rem !important;
  }

  div[data-testid="dashcard-container"].container-small,
  div.DashCard.container-small {
    height: 80px !important;
  }

  .increase h1:before {
    font-size: 2rem;
  }

  .decrease h1:before {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  div.dashcard h1 {
    font-size: 4vw !important;
  }

  div.dashcard h1 span {
    font-size: 2.5vw !important;
  }

  div.dashcard h3 {
    font-size: 1.4vw !important;
    line-height: 1.5vw !important;
  }

  .decrease h1,
  .decrease h3,
  .increase h1,
  .increase h3,
  .equals h1,
  .equals h3 {
    font-size: 1.4vw !important;
    font-weight: 400 !important;
    line-height: 1.4vw !important;
  }

  div[data-testid="dashcard-container"].container-small,
  div.DashCard.container-small {
    height: 80px !important;
  }

  .increase h1:before {
    font-size: 1.4vw;
  }

  .decrease h1:before {
    font-size: 1.4vw;
  }
}
