body {
  &.create-client,
  &.apps-create-from {
    background: #fff;
    #edit-actions .form-submit:hover {
      background: #4f9bf5;
    }
  }
}

.client-Layout-column-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
  align-items: stretch;

  .js-form-item {
    input,
    .form-file,
    select,
    textarea {
      min-height: auto;
      border: none;
      background: transparent;
      color: #2e3b8f;
      font-weight: 600;
      line-height: 18px;
      font-size: 14px;
      font-family: "DM Sans", sans-serif;
      margin: 0;
      padding: 5px 8px;
      transition: all 0.3s ease-in-out;
      &:focus,
      &:hover,
      &:focus-visible {
        outline: none;
        box-shadow: none;
        border: none;
        background: #fff;
      }
    }
    input,
    textarea {
      &:focus,
      &:hover,
      &:focus-visible {
        border-bottom: 2px solid #2e3b8f;
        border-radius: 6px 6px 0 0;
      }
    }
    .country {
      width: 100%;
    }
    .select2-container {
      width: 100% !important;
    }
    .form-textarea {
      min-height: 384px !important;
    }
  }
  .js-form-item {
    margin-bottom: 0;
  }

  .client-Layout-column-first {
    flex: 0 0 67%;
    max-width: 67%;
    .grid-layout-column {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      & > .js-form-item {
        font-family: "DM Sans", sans-serif;
        background: #f5f8fc;
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 10px;
        flex: 1;
        &:hover,
        &:focus {
          transition: all 0.3s ease-in-out;
          background: #e1e5f3;
          border: 1px solid #2e3b8f;
        }
      }
    }
    .client-contact-details-col-4 {
      & > legend {
        display: none;
      }
      & > .fieldset-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        .js-form-item {
          font-family: "DM Sans", sans-serif;
          background: #f5f8fc;
          border: 1px solid transparent;
          border-radius: 8px;
          padding: 10px;
          margin-bottom: 10px;
          margin-right: 0;
          flex: 1;
          display: block;
          &:hover,
          &:focus {
            transition: all 0.3s ease-in-out;
            background: #e1e5f3;
            border: 1px solid #2e3b8f;
          }
        }
      }
    }
  }
  .client-Layout-column-second {
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    min-width: 250px;
    height: 100%;
    & > legend {
      display: none;
    }
    .select2-container--default {
      .select2-selection--single {
        border: none;
        background: none;
        border-radius: 0;
        .select2-selection__rendered {
          line-height: normal;
          color: #2e3b8f;
          font-size: 32px;
        }
        .select2-selection__arrow {
          b {
            margin-top: 6px;
          }
        }
      }
      &.select2-container--open {
        .select2-selection__arrow {
          b {
            margin-top: -2px;
          }
        }
      }
    }
    & > .js-form-item {
      font-family: "DM Sans", sans-serif;
      background-color: #f0f3ff;
      border: 1px solid #2e3b8f;
      border-radius: 12px;
      padding: 45px 25px;
      margin-bottom: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      select,
      input {
        outline: none;
        box-shadow: none;
        font-size: 34px;
        line-height: normal;
        text-align: center;
        height: auto;
        &:focus,
        &:hover,
        &:focus-visible {
          outline: none;
          box-shadow: none;
          border: none;
        }
      }
    }
    label {
      font-family: "DM Sans", sans-serif;
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: #2e3b8f;
      letter-spacing: 0.5px;
      order: 2;
      margin-top: 5px;
    }
  }
}
.select2-container--default {
  .select2-selection--single {
    border: none;
    background: none;
    border-radius: 0;
    height: 38px;
    position: relative;
    border: none;
    .select2-selection__rendered {
      line-height: normal;
      color: #2e3b8f;
      padding: 0;
    }
    .select2-selection__arrow {
      b {
        background: url("../images/arrow-down.svg") no-repeat;
        border: none;
        height: 14px;
        width: 14px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &.select2-container--open {
    .select2-selection__arrow {
      b {
        transform: rotateX(180deg);
        margin-top: -8px;
      }
    }
  }
}

#edit-api-agreement-covers,
[id^="edit-api-agreement-covers--"] {
  legend {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 14px;
    display: block;
    border-bottom: 1px solid #000;
  }
  .fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .js-form-item {
      display: flex;
      flex: 0 0 50%;
      align-items: center;
      align-self: baseline;
      margin-bottom: 16px;
      position: relative;
      padding-right: 12px;
      label {
        position: relative;
        padding-left: 40px;
        &::after {
          content: "";
          width: 32px;
          height: 20px;
          background-color: #cb1b0c;
          border-radius: 4px;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
        &::before {
          content: "";
          transform: translateX(0px);
          transition: all 0.3s ease-in-out;
          border-radius: 50%;
          position: absolute;
          top: 4px;
          left: 5px;
          width: 12px;
          height: 12px;
          background-color: white;
          transition: all 0.3s ease-in-out;
          z-index: 10;
          opacity: 1;
        }
      }

      input[type="checkbox"] {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        &:checked + label {
          &::before {
            transform: translateX(15px);
            border-radius: 50%;
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 12px;
            height: 12px;
            background-color: white;
            transition: all 0.3s ease-in-out;
            z-index: 10;
            opacity: 1;
          }
          &::after {
            content: "";
            background-color: #06b487;
          }
        }
      }
    }
    label {
      font-family: "DM Sans", sans-serif;
      font-size: 13px;
      font-weight: 500;
      line-height: normal;
      color: #2e3b8f;
    }
  }
}

.multiselect-native-select {
  .multiselect {
    text-align: left !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    height: 38px;
    margin-bottom: 0.5rem;
    font-size: 13px;
    padding: 3px 10px;
  }
  .multiselect-container {
    width: 100%;
    max-height: 120px !important;
    overflow-y: scroll !important;
    appearance: none;
    scrollbar-width: auto; /* Firefox */
    -ms-overflow-style: auto; /* IE 10+ */
    &::-webkit-scrollbar {
      width: 8px; /* or any size */
      height: 8px;
      background: #f0f0f0; /* track color */
    }
    &::-webkit-scrollbar-thumb {
      background: #888; /* thumb color */
      border-radius: 4px;
    }
    .multiselect-option {
      .form-check {
        display: flex;
        align-items: center;
        .form-check-input {
          height: 20px;
          width: 20px;
          padding: 0;
          margin-right: 10px;
        }
      }
      &.active {
        background: transparent !important;
        border: none;
      }
      &:hover {
        background: transparent !important;
        .form-check-label {
          color: #118df0;
        }
      }
    }
  }
}
